{% extends "layouts/base.html" %}

{% block title %}{{ app_name }} - Dashboard{% endblock %}
{% block body_class %}app-shell{% endblock %}

{% block page %}
<div class="app-shell">

    {# Sidebar #}
    {% include "components/sidebar.html" %}

    {# Main Content #}
    <div class="main-content">

        {# Topbar #}
        {% include "components/topbar.html" %}

        {# Page Content #}
        <div class="main-content__inner">
            {% block dashboard_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
